* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  background: rgb(49, 49, 49);
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  justify-content: center;
  background-color: #494949;
  height: 35%;
}

main {
  text-align: center;
  background-color: #525252;
  height: 50%;
}
footer {
text-align: center;
  color: rgb(106, 106, 129);
  height: 15%;
}

img {
  left: 50%;
  right: 50%;
}

h1 {
    width: 1286px;
    height: 69px;
    left: 71px;
    top: 34px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    color: #000000;
  text-align: center;
}

button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nome {
    color: #6d6d6d;
}